<div class="alert alert-warning mb-8 p-5" role="alert">
    <h4 class="alert-heading">Merci de bien vouloir procéder à la confirmation de votre réinscription !</h4>
    <p class="mb-0">Afin de valider votre réinscription à l'école
        <%= @user.user_financier.centre.school_program.school.nom %>, merci de confirmer vos informations
        personnelles et modalité paiement de la scolarité.</p>
</div>
<div class="row">
    <!--begin::Content-->
    <div class="col-lg-12">
        <div class="card card-custom gutter-b">

            <!--begin::Body-->
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <!--begin::Pic-->
                    <div class="flex-shrink-0 mr-4 symbol symbol-65 symbol-circle">
                        <span class="symbol-label">
                            <span class="svg-icon svg-icon-3x svg-icon-primary">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/Shopping/Cart3.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                            fill="#000000" fill-rule="nonzero"></path>
                                        <path
                                            d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                            fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Info-->
                    <div class="d-flex flex-column mr-auto">
                        <!--begin: Title-->
                        <span
                            class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1"><%= @subscription.formation_annee.formation.nom %>
                        </span>
                        <span class="text-muted font-weight-bold"> <i
                                class="flaticon2-calendar-9 mr-2"></i><%= @subscription.s_type.humanize %>
                            <%= @subscription.school_year.nom.humanize %>

                            <% if @subscription.redoublant %>
                            - Redoublant(e)
                            <% end %>
                        </span>
                        <!--end::Title-->
                    </div>
                    <!--end::Info-->

                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title">
                    <h3 class="card-label font-weight-bolder text-dark">Informations Personnelles</h3>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <!--begin::Body-->
            <div class="card-body">


                <%= form_for @user, { :url => user_reinscription_confirm_path(params[:id]), remote: true, :method => :post } do |f| %>
                <div class="row">
                    <label class="col-xl-2"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mb-6">Étudiant(e)</h5>
                    </div>
                </div>
                <%= f.fields_for :user_financier do |user_financier|%>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Nom</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_nom, class: "form-control form-control-lg form-control-solid", :required => true, disabled: true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Prénom</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_prenom, class: "form-control form-control-lg form-control-solid", :required => true, disabled: true %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.email_field :etu_email, class: "form-control form-control-lg form-control-solid", :required => true, disabled: true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Téléphone</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_tel, class: "form-control form-control-lg ", :required => true %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Adresse</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_adresse, class: "form-control form-control-lg ", :required => true %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Ville</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_ville, class: "form-control form-control-lg ", :required => true %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Code Postal</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :etu_code_postal, class: "form-control form-control-lg ", :required => true %>
                    </div>
                </div>

                <div class="row">
                    <label class="col-xl-2"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mt-10 mb-6">Responsable Financier</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Nom</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :nom, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Prénom</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :prenom, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Email</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= f.email_field :email, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Téléphone</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :tel, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Adresse</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :adresse, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Code postal</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :code_postal, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Ville</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :ville, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Pays</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= user_financier.text_field :pays, class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xl-2"></label>
                    <div class="col-lg-9 col-xl-6">
                        <h5 class="font-weight-bold mt-10 mb-6">Choix du mode de versement
                            du solde de la scolarité</h5>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">1er Frais de scolarité</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="font-weight-bolder font-size-h6 pt-2">
                            <%= @subscription.formation_annee.frais_inscription.round() %>€</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Mode paiement<br>1er Frais de scolarité</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= select_tag :payment_mode_inscription, options_for_select([["Prélèvement", "prelevement"], ["Virement","virement"]]), include_blank: "Veuillez choisir une option", class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <% if !@subscription.formation_annee.frais_technique.nil? %>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Frais techniques</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="font-weight-bolder font-size-h6 pt-2">
                            <%= @subscription.formation_annee.frais_technique.round() %>€</div>
                    </div>
                </div>
                <% end %>

                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Choix modalité<br>Frais de scolarité</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <% @user.user_financier.centre.school_program.payment_plans.each do |plan| %>
                            <div class="col-lg-4">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio radio-bold radio-brand" />
                                        <input type="radio" name="modalite" value="<%= plan.plan %>" required="true" />
                                        <span></span>
                                    </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">
                                                Règlement en <%= plan.plan %> fois :
                                                <%= @subscription.formation_annee.read_attribute("modalite_#{plan.plan}") %>€
                                            </span>

                                        </span>
                                        <span class="option-body">

                                            <% @subscription.school_year.payment_calendars.where(plan: plan.plan).each do |date| %>
                                            Le <%= date.plan_date.strftime("%d/%m/%Y") %><br>
                                            <% end %>

                                        </span>
                                    </span>
                                </label>
                            </div>
                            <% end %>


                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-lg-2 col-form-label">Mode paiement<br>Frais de scolarité</label>
                    <div class="col-lg-9 col-xl-6">
                        <%= select_tag :payment_mode_scolarite, options_for_select([["Prélèvement", "prelevement"], ["Virement","virement"]]), include_blank: "Veuillez choisir une option", class: "form-control form-control-lg", :required => true %>
                    </div>
                </div>
                <div class="form-group row mt-10">
                    <label class="col-xl-2 col-lg-2 col-form-label"></label>
                    <div class="col-lg-9 col-xl-6">
                        <%= button_tag type: :submit, class: "btn btn-success btn-lg font-weight-bold", data: { confirm: "Confirmez-vous les informations ?", disable_with: "Transfert en cours..."} do %>
                        <i class="fas fa-paper-plane"></i> Je confirme les informations et la réinscription
                        <% end %>
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>
            <!--end::Body-->
            <!--end::Form-->
        </div>
    </div>

    <!--end::Content-->
</div>