<% if !current_user.user_financier.user_financier_rib.id.blank? %>
<div class="form-group row mt-10">
    <label class="col-xl-2 col-lg-2 col-form-label">IBAN</label>
    <div class="col-lg-9 col-xl-6">
        <%= text_field_tag :iban, current_user.user_financier.user_financier_rib.iban, class: "form-control form-control-lg form-control-solid", :required => true, disabled: true %>
    </div>
</div>
<div class="form-group row">
    <label class="col-xl-2 col-lg-2 col-form-label">BIC</label>
    <div class="col-lg-9 col-xl-6">
        <%= text_field_tag :bic, current_user.user_financier.user_financier_rib.bic, class: "form-control form-control-lg form-control-solid", :required => true, disabled: true %>
    </div>
</div>

<% if current_user.user_financier.user_financier_mandates.where(actif: true).first %>
<% @mandate = current_user.user_financier.user_financier_mandates.where(actif: true).first %>
<div class="form-group row mt-10">
    <label class="col-xl-2 col-lg-2 col-form-label"></label>
    <div class="col-lg-9 col-xl-6">
        <%= link_to download_mandate_user_paiements_path(@mandate.rum), remote: false, method: :get, class: "btn btn-light-primary font-weight-bold btn-lg mb-5 mr-4" do %>
        <span class="svg-icon svg-icon-2x">
            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo2/dist/../src/media/svg/icons/Shopping/Credit-card.svg--><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path
                        d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                    <path
                        d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z"
                        fill="#000000" />
                </g>
            </svg>
            <!--end::Svg Icon--></span>
        Télécharger mandat SEPA
        <% end %>
        <%= link_to new_mandate_user_paiements_path, remote: true, method: :get, class: "btn btn-info font-weight-bold btn-lg  mb-5" do %>
        <span class="svg-icon svg-icon-light svg-icon-2x">
            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo2/dist/../src/media/svg/icons/Shopping/Credit-card.svg--><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
                    <rect fill="#000000" x="2" y="8" width="20" height="3" />
                    <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
                </g>
            </svg>
            <!--end::Svg Icon--></span>
        Renseigner un nouveau RIB
        <% end %>
    </div>
</div>
<% else %>
<div class="form-group row mt-10">
    <label class="col-xl-2 col-lg-2 col-form-label"></label>
    <div class="col-lg-9 col-xl-6">
        <%= link_to new_mandate_user_paiements_path, remote: true, method: :get, class: "btn btn-info font-weight-bold btn-lg" do %>
        <span class="svg-icon svg-icon-light svg-icon-2x">
            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo2/dist/../src/media/svg/icons/Shopping/Credit-card.svg--><svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
                    <rect fill="#000000" x="2" y="8" width="20" height="3" />
                    <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
                </g>
            </svg>
            <!--end::Svg Icon--></span>
        Renseigner un nouveau RIB
        <% end %>
    </div>
</div>
<% end %>

<% else %>
<div class="alert alert-gray mb-5 p-5" role="alert">
    <h4 class="alert-heading">Aucun moyen de paiement enregistré !</h4>
    <p>Si vous souhaitez payer les frais de scolarité par prélèvement bancaire, veuillez ajouter vos informations
        bancaires.</p>
    <div class="border-bottom border-white opacity-20 mb-5"></div>
    <%= link_to new_mandate_user_paiements_path, remote: true, method: :get, class: "btn btn-info font-weight-bold btn-lg" do %>
    <span class="svg-icon svg-icon-light svg-icon-2x">
        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo2/dist/../src/media/svg/icons/Shopping/Credit-card.svg--><svg
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
                <rect fill="#000000" x="2" y="8" width="20" height="3" />
                <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
            </g>
        </svg>
        <!--end::Svg Icon--></span>
    Ajouter mes coordonnées bancaires
    <% end %>
</div>
<% end %>