<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 3), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 3}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                    <path
                        d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L12.5,10 C13.3284271,10 14,10.6715729 14,11.5 C14,12.3284271 13.3284271,13 12.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z"
                        fill="#000000" opacity="0.3" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Écheanciers
    </span>
    <% end %>
</div>
<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 5), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 5}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                        d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
                        fill="#000000" opacity="0.3" />
                    <path
                        d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
                        fill="#000000" />
                    <rect fill="#000000" opacity="0.3" x="7" y="10" width="5" height="2" rx="1" />
                    <rect fill="#000000" opacity="0.3" x="7" y="14" width="9" height="2" rx="1" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Souscriptions</span>
    <% end %>
</div>
<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 7), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 7}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                        d="M11.1669899,4.49941818 L2.82535718,19.5143571 C2.557144,19.9971408 2.7310878,20.6059441 3.21387153,20.8741573 C3.36242953,20.9566895 3.52957021,21 3.69951446,21 L21.2169432,21 C21.7692279,21 22.2169432,20.5522847 22.2169432,20 C22.2169432,19.8159952 22.1661743,19.6355579 22.070225,19.47855 L12.894429,4.4636111 C12.6064401,3.99235656 11.9909517,3.84379039 11.5196972,4.13177928 C11.3723594,4.22181902 11.2508468,4.34847583 11.1669899,4.49941818 Z"
                        fill="#000000" opacity="0.3" />
                    <rect fill="#000000" x="11" y="9" width="2" height="7" rx="1" />
                    <rect fill="#000000" x="11" y="17" width="2" height="2" rx="1" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Rejets
    </span>
    <% end %>
</div>
<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 1), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 1}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path
                        d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                    <path
                        d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                        fill="#000000" fill-rule="nonzero" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Informations Personnelles</span>
    <% end %>
</div>

<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 6), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 6}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2" />
                    <rect fill="#000000" x="2" y="8" width="20" height="3" />
                    <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Informations Bancaires
    </span>
    <% end %>
</div>

<div class="navi-item mb-2">
    <%= link_to edit_card_admin_manage_student_path(card: 4), remote: true, class: "navi-link py-4 #{'active' if session[:admin_manage_edit_user_navbar] == 4}" do %>
    <span class="navi-icon mr-2">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                    <path
                        d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z"
                        fill="#000000" />
                </g>
            </svg>
            <!--end::Svg Icon-->
        </span>
    </span>
    <span class="navi-text font-size-lg">Paramètres Compte</span>
    <% end %>
</div>