<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modification modalité de paiement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <h5 class="pl-3"><i class="fas fa-angle-double-down mr-2"></i> Échéancier actuel
                - Modalité <%= @user_financier_subscription.modalite %> fois</h5>
            <table class="table table-hover mt-3">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3">Écheance</th>
                        <th class="col-3">Montant (€)</th>
                        <th class="col-2">Type</th>
                        <th class="col-2">Mode</th>
                        <th class="col-2">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user_financier_subscription.user_financier_subscription_instalments.where(v_type: :frais_scolarite).each do |instalment| %>
                    <tr class="d-flex">
                        <td class="col-3"><%= instalment.echeance.strftime("%d/%m/%Y") %></td>
                        <td class="col-3"><%= instalment.montant %>€</td>
                        <td class="col-2"><%= instalment.v_type.humanize %></td>
                        <td class="col-2"><%= instalment.v_mode.humanize %></td>
                        <td class="col-2"><%= instalment.statut_humanized_label.html_safe %></td>
                    </tr>
                    <% end %>

                </tbody>
            </table>

            <div class="row mt-10">
                <% current_user.user_admin.current_centre.school_program.payment_plans.where.not(plan: @user_financier_subscription.modalite).each do |plan| %>
                <div class="col-6 mt-3">
                    <%=  link_to preview_update_modalite_admin_manage_student_user_financier_subscription_path(modalite: plan.plan), remote: true, method: :get, class: "btn btn-warning btn-block btn-lg font-size-h5 font-weight-bold" do %>
                    Passer en <%= plan.plan %> fois <i class="fas fa-random"></i>
                    <% end %>
                </div>
                <% end %>
            </div>



            <%= form_for @user_financier_subscription ,:url => { :controller => "user_financier_subscriptions", :action => "update_modalite" }, remote: :true do |f| %>
            <div id="preview-update-modalite"></div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-warning font-weight-bold" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success font-weight-bold" id="btn_submit" value="submit"
                form="edit_user_financier_subscription_<%= @user_financier_subscription.id %>"
                onclick="return confirm('Confirmez-vous la modification ?')" style="display: none;">Modifier la
                modalité</button>
        </div>
        <% end %>
    </div>
</div>