<%= render "admin/layouts/head" %>
<!--end::Head-->
<!--begin::Body-->
<%= render "admin/layouts/header" %>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h2 class="text-white font-weight-bold my-2 mr-5">Facturations</h2>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->

                        <!--end::Item-->

                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <div class="d-flex align-items-center">
                <!--begin::Button-->
                <select class="form-control form-control-lg" id="select_school_year">
                    <% current_user.user_admin.current_centre.school_program.school_years.each do |school_year| %>
                    <option value="<%= school_year.id %>"
                        <%= session[:students_filter_school_year] == school_year.id ? '' : 'selected' %>>
                        Année
                        <%= school_year.nom%></option>
                    <% end %>
                </select>
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Dashboard-->
            <%= render partial: "modal" %>
            <div id="index_content">
                <%= render partial: "index_content" %>
            </div>
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<%= render "admin/layouts/footer" %>

<%= render "index_js" %>

</body>
<!--end::Body-->

</html>